&::-webkit-scrollbar {
	display: none;
}
body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 1.5;
	color: #606c71;
}
a {
	color: #1e6bb8;
	text-decoration: none;
}
html {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.btn {
	display: inline-block;
	margin-bottom: 1rem;
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.08);
	border-color: rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3rem;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	&:hover {
		color: rgba(255, 255, 255, 0.8);
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.2);
		border-color: rgba(255, 255, 255, 0.3);
	}
}
.btn+.btn {
	margin-left: 1rem;
}
.btn2 {
	display: inline-block;
	margin-bottom: 1rem;
	color: rgba(0, 0, 0, 0.7);
	background-color: rgba(0, 0, 0, 0.08);
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3rem;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	&:hover {
		color: rgba(0, 0, 0, 0.8);
		text-decoration: none;
		background-color: rgba(0, 0, 0, 0.2);
		border-color: rgba(0, 0, 0, 0.3);
	}
}
.btn2+.btn2 {
	margin-left: 1rem;
}
.header-wrapper {
	background: #0076fe;
	border-bottom: 1px solid #fff;
	background: linear-gradient(119.42deg, #0076fe, #0098fc 79.71%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0076fe", endColorstr="#0098fc", GradientType=1);
	.search-wrapper {
		display: none;
	}
}
.header {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 5%;
	position: relative;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 71px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.logo {
	display: flex;
	img {
		max-height: 60px;
		vertical-align: middle;
	}
	>a {
		display: block;
		align-self: center;
	}
	span {
		font-size: 20px;
		position: relative;
		margin-left: 13px;
		align-self: center;
		display: block;
		vertical-align: middle;
		margin-top: 4px;
		a {
			color: #fff;
			opacity: 1;
			border-left: 2px solid white;
			padding-left: 10px;
			&:hover {
				text-decoration: none;
				opacity: 0.8;
			}
		}
	}
	span.separator {
		display: none;
	}
}
.nav-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 5px;
	a {
		border: 0;
		color: rgba(255, 255, 255, 1);
		display: none;
		font-size: 13px;
		padding-bottom: 10px;
		width: auto;
		&:hover {
			color: rgba(255, 255, 255, 1);
			text-decoration: none;
		}
		&:focus {
			color: rgba(255, 255, 255, 1);
			text-decoration: none;
		}
		&:active {
			color: rgba(255, 255, 255, 1);
			text-decoration: none;
		}
	}
	a.login {
		color: rgba(255, 255, 255, 1);
		text-decoration: none;
	}
	.icon-menu {
		border: 0;
		cursor: pointer;
		display: inline-block;
		margin-right: 10px;
		padding: 0;
		width: auto;
		color: #FFFFFF;
		&:focus {
			background-color: transparent;
			outline: none;
			text-decoration: none;
		}
		&:hover {
			background-color: transparent;
		}
		&:active {
			background-color: transparent;
			outline: none;
			text-decoration: none;
		}
		&:visited {
			outline: none;
			text-decoration: none;
		}
	}
	.mini-search {
		border: 0;
		cursor: pointer;
		display: inline-block;
		margin-right: 10px;
		padding: 0;
		width: auto;
		color: #FFFFFF;
		font-size: 20px;
		margin-right: 8px;
		vertical-align: middle;
	}
}
[dir="rtl"] {
	.nav-wrapper {
		margin-right: 5px;
		margin-left: 0;
		a.login {
			margin-left: 0;
		}
		.icon-menu {
			margin-left: 10px;
			margin-right: 0;
		}
		.mini-search {
			margin-left: 8px;
			margin-right: 0;
		}
	}
	.footer-language-selector {
		span.dropdown-menu[aria-expanded=true] {
			right: auto;
			left: 0;
		}
	}
}
.footer {
	background: #0076fe;
	background: linear-gradient(119.42deg, #0076fe, #0098fc 79.71%);
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 25px 0;
	position: relative;
	a {
		color: #FFFFFF;
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	p {
		color: #FFFFFF;
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}
.footer-inner {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	p.copyright {
		font-family: Open Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		align-items: center;
		text-align: center;
		display: inline;
		margin-right: 25px;
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.footer-book-demo {
		p {
			font-family: Open Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 19px;
			align-items: center;
			text-align: center;
			display: inline;
			margin-right: 25px;
			font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		a {
			background: #0076fe;
			mix-blend-mode: normal;
			border-radius: 3px;
			padding: 10px 25px;
			text-decoration: none;
			font-family: 'Open Sans';
			text-transform: uppercase;
			font-weight: bold;
			font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
	}
}
p.copyright {
	text-align: center;
	margin: 25px 0 10px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-language-selector {
	color: #7e7e7e;
	display: inline-block;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	span.dropdown-menu[aria-expanded=true] {
		bottom: 30px;
	}
}
[bg-color="gray"] {
	&:after {
		background: #6c757d;
	}
}
[bg-color="red"] {
	&:after {
		background: #dc3545;
	}
}
[bg-color="dark"] {
	&:after {
		background: #343a40;
	}
}
[bg-color="yellow"] {
	&:after {
		background: #ffc107;
		color: #21251a;
	}
}
[bg-color="blue"] {
	&:after {
		background: #007bff;
	}
}
[bg-color="green"] {
	&:after {
		background: #28a745;
	}
}
[badge-text] {
	&:after {
		background: attr(bg-color);
		border-radius: 5px;
		color: #fff;
		content: attr(badge-text);
		font-size: 8px;
		margin-top: -5px;
		min-width: 20px;
		padding: 2px;
		position: absolute;
		text-align: center;
	}
}
[badge-text^="-"] {
	&:after {
		display: none;
	}
}
[badge-text="0"] {
	&:after {
		display: none;
	}
}
[badge-text=""] {
	&:after {
		display: none;
	}
}
.app-card-grid-container {
	display: flex;
	overflow-x: auto;
	padding: 0px;
	&::-webkit-scrollbar {
		display: none;
	}
	.app-card-grid-item {
		margin: 8px;
		transition: 0.3s all;
		&:last-of-type {
			margin-right: 8px;
		}
		.app-card {
			box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
			transition: 0.3s;
			width: 200px;
			border-radius: 5px;
			&:hover {
				box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2);
			}
		}
		.app-card-img {
			border-radius: 5px 5px 0 0;
		}
		.app-card-container {
			padding: 2px 16px;
		}
	}
}
@media screen and (min-width: 64em) {
	.btn {
		padding: 0.75rem 1rem;
	}
	.btn2 {
		padding: 0.75rem 1rem;
	}
}
@media screen and (min-width: 42em) and (max-width: 64em) {
	.btn {
		padding: 0.6rem 0.9rem;
		font-size: 0.9rem;
	}
	.btn2 {
		padding: 0.6rem 0.9rem;
		font-size: 0.9rem;
	}
}
@media screen and (max-width: 42em) {
	.btn {
		display: block;
		width: 100%;
		padding: 0.75rem;
		font-size: 0.9rem;
	}
	.btn+.btn {
		margin-top: 1rem;
		margin-left: 0;
	}
	.btn2 {
		display: block;
		width: 100%;
		padding: 0.75rem;
		font-size: 0.9rem;
	}
	.btn2+.btn2 {
		margin-top: 1rem;
		margin-left: 0;
	}
}
@media (min-width: 1024px) {
	.header {
		padding: 0;
		width: 90%;
	}
	.footer-inner {
		padding: 0;
		width: 90%;
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}
@media (min-width: 768px) {
	.sdg-button {
		display: inline-block;
		padding: 5px 15px;
		min-height: 30px;
		border-radius: 3px;
		background-color: #0076fe;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		margin-right: 8px;
	}
	[dir="rtl"] {
		.nav-wrapper {
			.user-nav {
				a {
					margin: 0 0 0 px;
				}
			}
		}
	}
	.nav-wrapper {
		.icon-menu {
			display: none;
		}
	}
}
@media (min-width: 580px) {
	.nav-wrapper {
		.mini-search {
			display: none;
		}
	}
}
@media (min-width: 992px) {
	.footer-inner {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}
@media min-width:630px) {
	.call-icon {
		display: none;
	}
	p.copyright {
		margin: 10px 0;
	}
}
