@import "//fonts.googleapis.com/css?family=Lato:300:400";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600";

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    cursor: default;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}

p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(to bottom right,
            #2C3E50, #FD746C,
            #FF8235, #ffff1c,
            #92FE9D, #00C9FF,
            #a044ff, #e73827);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
    animation: gradient 240s ease infinite;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%
    }

    50% {
        background-position: 100% 100%
    }

    100% {
        background-position: 0% 0%
    }
}

a {
    text-decoration: none;
    background: linear-gradient(to bottom right,
            #2C3E50, #FD746C,
            #FF8235, #ffff1c,
            #92FE9D, #00C9FF,
            #a044ff, #e73827);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
    animation: gradient 240s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
        color: #1c6124;
        text-decoration: underline;
    }
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 600px) {
        display: block;
        margin-bottom: 200px;
    }
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

.parallax {
    >use {
        animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;

        &:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 7s;
        }

        &:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 10s;
        }

        &:nth-child(3) {
            animation-delay: -4s;
            animation-duration: 13s;
        }

        &:nth-child(4) {
            animation-delay: -5s;
            animation-duration: 20s;
        }
    }
}

@media only screen and (min-width: 768px) {

    .inner-header {
        .snip1344 {
            display: block;
        }
    }

    .snip1344 {
        font-family: 'Open Sans', Arial, sans-serif;
        position: relative;
        overflow: hidden;
        margin: 10px;
        min-width: 230px;
        max-width: 315px;
        border-radius: 10px;
        width: 50%;
        color: #ffffff;
        text-align: center;
        line-height: 1.4em;
        background-color: #141414;

        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease;
        }

        .background {
            width: 100%;
            vertical-align: top;
            opacity: 0.2;
            -webkit-filter: grayscale(100%) blur(10px);
            filter: grayscale(100%) blur(10px);
            -webkit-transition: all 2s ease;
            transition: all 2s ease;
        }

        figcaption {
            width: 100%;
            padding: 15px 25px;
            position: absolute;
            left: 0;
            top: 50%;
        }

        .profile {
            border-radius: 50%;
            position: absolute;
            bottom: 50%;
            left: 50%;
            max-width: 100px;
            opacity: 1;
            box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
            border: 2px solid rgba(255, 255, 255, 0.5);
            -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
        }

        h3 {
            margin: 0 0 5px;
            font-weight: 400;

            span {
                display: block;
                font-size: 0.6em;
                color: #f39c12;
                opacity: 0.75;
            }
        }

        i {
            padding: 10px 5px;
            display: inline-block;
            font-size: 32px;
            color: #ffffff;
            text-align: center;
            opacity: 0.65;

            &:hover {
                opacity: 1;
                -webkit-transition: all 0.35s ease;
                transition: all 0.35s ease;
            }
        }

        a {
            text-decoration: none;
        }

        &:hover {
            .background {
                -webkit-transform: scale(1.3);
                transform: scale(1.3);
            }
        }
    }
}

.snip1344 {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    border-radius: 10px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    line-height: 1.4em;
    background-color: #141414;

    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

    .background {
        width: 100%;
        vertical-align: top;
        opacity: 0.2;
        -webkit-filter: grayscale(100%) blur(10px);
        filter: grayscale(100%) blur(10px);
        -webkit-transition: all 2s ease;
        transition: all 2s ease;
    }

    figcaption {
        width: 100%;
        padding: 15px 25px;
        position: absolute;
        left: 0;
        top: 50%;
    }

    .profile {
        border-radius: 50%;
        position: absolute;
        bottom: 50%;
        left: 50%;
        max-width: 100px;
        opacity: 1;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.5);
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }

    h3 {
        margin: 0 0 5px;
        font-weight: 400;

        span {
            display: block;
            font-size: 0.6em;
            background: linear-gradient(to bottom right,
                    #2C3E50, #FD746C,
                    #FF8235, #ffff1c,
                    #92FE9D, #00C9FF,
                    #a044ff, #e73827);
            background-repeat: no-repeat;
            background-size: 1000% 1000%;
            animation: gradient 240s ease infinite;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0.75;
        }
    }

    i {
        padding: 10px 5px;
        display: inline-block;
        font-size: 32px;
        color: #ffffff;
        text-align: center;
        opacity: 0.65;

        &:hover {
            opacity: 1;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }
    }

    a {
        text-decoration: none;
    }

    &:hover {
        .background {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
    }
}

.snip1344.hover {
    .background {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

.button {
    --color: #F6F8FF;
    --background: #58607F;
    --background-hover: #535A79;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    position: relative;
    border: 0;
    padding: 8px 36px;
    line-height: 26px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    background: none;
    color: var(--color);
    -webkit-tap-highlight-color: transparent;
    margin: 0 16px;

    svg {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 48px;
        transform: translateZ(0);
        stroke: var(--stroke, none);
        stroke-width: var(--stroke-width, 0);
        fill: var(--fill, var(--background));
        transition: fill 0.25s linear;
    }

    span {
        display: inline-block;
        position: relative;
        z-index: 1;
    }

    &:hover {
        --fill: var(--background-hover);
    }
}

.button.border {
    --stroke: #D1D6EE;
    --stroke-width: 1px;
    --color: #404660;
    --background: #fff;
    --background-hover: #FAFBFF;
}

* {
    box-sizing: inherit;

    &:before {
        box-sizing: inherit;
    }

    &:after {
        box-sizing: inherit;
    }
}

.dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;

    img {
        display: block;
        height: 28px;
    }
}

.twitter {
    position: fixed;
    display: block;
    right: 64px;
    bottom: 14px;

    svg {
        width: 32px;
        height: 32px;
        fill: #1da1f2;
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}

.welcome {
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

.grid {
    margin: 2rem auto;
}

.grid__container {
    display: grid;
    background-color: none;
    border: 1px solid none;
    grid-gap: 1px;
    justify-self: center;
    max-width: 292px;
    height: auto;
    margin: 0 auto;
}

.grid__item {
    position: relative;
    margin: 5px;
}

@media only screen and (min-width: 768px) {
    .grid__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        max-width: 583px;
    }
}

@media only screen and (min-width: 1024px) {

    .grid__container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 1165px;
    }
}