&::-webkit-scrollbar {
    width: 5px;
}

&::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px grey;
    background-image: linear-gradient(to bottom, #fcba07 0%, #ecd507 51%, #fcba07 100%);
    border-radius: 0px;
}

&::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.452);
    border-radius: 0px;

    &:hover {
        background: rgba(0, 0, 0, 0.507);
    }
}

body {
    padding: 0px;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
    background-image: linear-gradient(to right, #0098fc 0%, #0076fe 51%, #0098fc 100%);
}

.page-content {
    margin-left: 490px;
    margin-right: 490px;
    background-color: #fafafa;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

}

@media (max-width: 1440px) {
    .page-content {
        margin-left: 0px;
        margin-right: 0px;
        background-color: white;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
    }
}

@media (max-width: 767px) {
    .page-content {
        margin-left: 0px;
        margin-right: 0px;
        background-color: white;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
    }
}

a {
    color: #1e6bb8;
    text-decoration: none;
}

html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    border: none;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;

    &:hover {
        background-position: right center;
    }
}

.btn-1 {
    background-image: linear-gradient(to right, #0098fc 0%, #0076fe 51%, #0098fc 100%);
}

.header-wrapper {
    background: #0076fe;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    width: 100%;

    .header {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 5%;
        position: relative;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 70px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .head-content {
            position: relative;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            a {
                color: #0098fc;
                position: relative;
                -webkit-box-align: center;
                -ms-flex-align: center;
                background: linear-gradient(119.42deg, #0076fe, #0098fc 79.71%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }

            .header-logo {
                border: 2px solid #fff;
                border-radius: 100px;
                width: 30px;
                height: 30px;
                ;
            }
        }



        .head-right-cnt {
            .head-button {
                appearance: button;
                text-align: center;
                align-items: flex-start;
                cursor: default;
                outline: none;
                border: none;
                transition: 0.5s;
                background-image: linear-gradient(to right, #0098fc 0%, #0076fe 51%, #0098fc 100%);
                border-radius: 100px;
                color: white;
                display: inline-block;
                height: 25px;
                width: 100px;
                font-size: 15px;

                &:hover {
                    background-position: right center;
                }
            }
        }
    }
}

.news-wrapper {
    background: #0076fe;
    background: linear-gradient(119.42deg, #ecd507, #fcba07 79.71%);
    width: 100%;

    .news {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 5%;
        position: relative;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 50px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: center;

        .news-content {
            position: relative;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            color: #272727;
        }
    }
}

.footer {
    background: white;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 25px 0;
    position: relative;

    a {
        background: linear-gradient(119.42deg, #0076fe, #0098fc 79.71%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    p {
        background: linear-gradient(119.42deg, #0076fe, #0098fc 79.71%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

.footer-inner {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    p.copyright {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        align-items: center;
        text-align: center;
        display: inline;
        margin-right: 25px;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

p.copyright {
    text-align: center;
    margin: 25px 0 10px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[bg-color="gray"] {
    &:after {
        background: #6c757d;
    }
}

[bg-color="red"] {
    &:after {
        background: #dc3545;
    }
}

[bg-color="dark"] {
    &:after {
        background: #343a40;
    }
}

[bg-color="yellow"] {
    &:after {
        background: #ffc107;
        color: #21251a;
    }
}

[bg-color="blue"] {
    &:after {
        background: #007bff;
    }
}

[bg-color="green"] {
    &:after {
        background: #28a745;
    }
}

[badge-text] {
    &:after {
        background: attr(bg-color);
        border-radius: 5px;
        color: #fff;
        content: attr(badge-text);
        font-size: 8px;
        margin-top: -5px;
        min-width: 20px;
        padding: 2px;
        position: absolute;
        text-align: center;
    }
}

[badge-text^="-"] {
    &:after {
        display: none;
    }
}

[badge-text="0"] {
    &:after {
        display: none;
    }
}

[badge-text=""] {
    &:after {
        display: none;
    }
}

.app-card-grid-container {
    display: flex;
    overflow-x: auto;
    padding: 0px;

    &::-webkit-scrollbar {
        display: none;
    }

    .app-card-grid-item {
        margin: 8px;
        transition: 0.3s all;

        &:last-of-type {
            margin-right: 8px;
        }

        .app-card {
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
            transition: 0.3s;
            background-color: white;
            width: 200px;
            border-radius: 5px;

            &:hover {
                box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2);
            }
        }

        .app-card-img {
            border-radius: 5px 5px 0 0;
        }

        .app-card-container {
            padding: 2px 16px;
        }
    }
}

@media (min-width: 1024px) {
    .header {
        padding: 0;
        width: 90%;
    }

    .footer-inner {
        padding: 0;
        width: 90%;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

@media (min-width: 992px) {
    .footer-inner {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

@media (min-width:630px) {
    .call-icon {
        display: none;
    }

    p.copyright {
        margin: 10px 0;
    }
}

.badge-wrapper {
    text-align: center;
    align-items: flex-start;
    cursor: default;
    outline: none;
    border: none;
    border-radius: none;
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;

    .badge-text-one {
        text-align: center;
        align-items: flex-start;
        cursor: default;
        outline: none;
        border: none;
        border-radius: 8px 0px 0px 8px;
        color: #fff;
        background: linear-gradient(#646464, #4c4c4c);
        display: inline-block;
        font-size: 12px;
        padding: 5px;
        vertical-align: middle;
    }

    .badge-text-two {
        text-align: center;
        align-items: flex-start;
        cursor: default;
        outline: none;
        border: none;
        background: linear-gradient(#45cf27, #2db70f);
        border-radius: 0px 8px 8px 0px;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        padding: 5px;
        vertical-align: middle;
    }
}

#mydiv {
    position: absolute;
    
  }